<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
  <targets>
    <target name="asyncDefault" xsi:type="AsyncWrapper" overflowAction="Grow">
      <target xsi:type="File" name="Default"
              layout="[${longdate}] [${logger}] [${level:uppercase=true}] : ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              fileName="${basedir}\..\_Secure\logs\Automa.IO.Proxy.app.log" keepFileOpen="false"
              archiveFileName="${basedir}\..\_Secure\logs\Automa.IO.Proxy.app.${shortdate}.{##}.log" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" />
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="Default" minlevel="Debug" />
  </rules>
</nlog>
